<div class="unit one-fifth hide-on-mobiles">
  <aside>
    {% for section in site.data.projs_ru -%}
      <h4>{{ section.title }}</h4>
      <ul>
      {% for item in section.docs -%}
        {% assign item_url = item.link -%}
         {{ item_url }}
        {% assign p = site.projs_ru | where:"url", item_url | first -%}

        <li {%- if item_url == page.url %} class="current" {%- endif %}><a href="{{ p.url | relative_url }}">
          {{- p.title -}}
          {{p.url}}
        </a></li>
      {% endfor -%}

      {% for item in site.projs_ru -%}
        {{ item.title }}
      {% endfor -%}
      </ul>
    {% endfor -%}
  </aside>
</div>
